@page
@model MRLserver.MRLs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MRLmodel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MRLmodel.UID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MRLmodel.UID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MRLmodel.telepitesHelye)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MRLmodel.telepitesHelye)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MRLmodel.telepitestVegezte)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MRLmodel.telepitestVegezte)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MRLmodel.telepitesPozicioja)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MRLmodel.telepitesPozicioja)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MRLmodel.karbantarto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MRLmodel.karbantarto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MRLmodel.telepitesIdeje)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MRLmodel.telepitesIdeje)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MRLmodel.utolsoKarbantartasIdeje)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MRLmodel.utolsoKarbantartasIdeje)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MRLmodel.kovetkezoKarbantartas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MRLmodel.kovetkezoKarbantartas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MRLmodel.utolsoKapcsolataLifttel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MRLmodel.utolsoKapcsolataLifttel)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MRLmodel.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
